@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #ecf0f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginForm {
  width: 25%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rajdhani", sans-serif;
  background-color: #ffffff;
  border-radius: 20px;
}
.loginForm h2 {
  font-size: 30px;
  color: #333;
  margin-bottom: 2rem;
}

.loginForm .inputBox {
  display: flex;
  flex-direction: row-reverse;
  position: relative;
  margin-top: 20px;
}
.loginForm .inputBox i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.loginForm .inputBox input {
  /* font-family: 'Courier New', Courier, monospace; */
  width: 100%;
  font-family: "Rajdhani", sans-serif;
  background-color: transparent;
  padding: 5px 0; 
  font-size: 17px;
  font-weight: bold;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.loginForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
  letter-spacing: 1px;
  font-weight: bold;
  pointer-events: none;
}

.loginForm .inputBox input[type="submit"] {
  font-family: "Rajdhani", sans-serif;
  background: #085662;
  height: 2rem;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 5px auto;
  font-size: 18px;
  font-weight: 300;
  border-radius: 5px;
  transition: 0.4s;
}
.loginForm .inputBox input[type="submit"]:hover {
  border: #085662 solid 2px;
  transform: translateY(-5px);
  background: #fff;
  color: black;
  transition: 0.4s;
}

.back a {
  text-decoration: none;
  color: black;
}
.back {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #085662 solid 2px;
  height: 2rem;
  padding: 10px 7px auto;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.4s;
}
.back a:hover {
  color: #fff;
}
.back:hover {
  background: #085662;
  transform: translateY(-5px);
}
