@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rajdhani", sans-serif;
}

.sms {
  height: 10px;
  color: orange;
  font-size: larger;
  font-weight: bold;
  padding: 1rem;
  margin-top: 8px;
  display: block;
}

.flexing {
  display: flex;
  color: white;
  justify-content: center;
  margin-bottom: 10px;
}

.gmail {
  display: flex;
  color: white;
  justify-content: center;
}

img {
  height: 40px;
  cursor: pointer;
}

.container {
  display: flex;
  min-height: 100%;
}
nav {
  position: relative;
  top: 0;
  bottom: 0;
  min-height: 100vh;
  left: 0;
  background: #09353c;
  width: 280px;
  overflow: hidden;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
}

li .sub-btn {
  font-weight: 600;
  position: relative;
  color: white;
  font-size: 17px;
  display: table;
  width: 280px;
  padding: 10px;
  text-decoration: none;
  transition: 0.4s;
}
li .sub-btn:hover {
  background: #fff;
  color: #09353c;
  font-weight: bold;
  transition: 0.4s;
}
nav .fas {
  position: relative;
  width: 70px;
  height: 40px;
  top: 4px;
  font-size: 20px;
  text-align: center;
}
.nav-item {
  position: relative;
  margin-left: 20px;
}
#logout {
  position: initial;
  bottom: 0;
}

.container nav ul li a .dropdown {
  position: absolute;
  right: 0;
  margin: 6px 40px;
  transition: 0.3s ease;
}

.container nav ul li .sub-menu {
  background: #09353c;
  display: none;
}

.container nav ul li .sub-menu a {
  padding-left: 80px;
  font-size: 15px;
}

.rotate {
  transform: rotate(90deg);
}

.sub-menu a {
  display: flex;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.sub-menu a:hover {
  transition: 0.4s;
  transform: translateY(-10px);
}

.sub-menu i {
  font-size: 1rem;
}
